#root {
  margin: 0 auto;
  text-align: center;
}

.day {
  background-image: url("../src/assets/day.png");
}

.night {
  background-image: url("../src/assets/night.png");
}

.background {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
